.simpleButton {
    background: #fff;
    border-radius: 4px;
    border: 2px solid rgb(97, 103, 215);
    color: rgb(97, 103, 215);
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    margin: 0px 5px;
}

.simpleButton:focus, .simpleButton:hover {
    background: none;
}

.isPrimary {
    border: none;
    background: rgb(97, 103, 215);
    color: #eee;
}

.isPrimary:focus, .isPrimary:hover {
    background: #eee;
    color: rgb(97, 103, 215);
}

.isBasic {
    border: none;
    background: transparent;
    color: rgb(97, 103, 215);
}
