.horizontalTabs {
    color: green;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
}

.tab {
    color: #aaa;
    padding: 20px 5px 5px;
    margin-right: 25px;
}

.active {
    color: #000;
    border-bottom: 2px solid #333;
}
