.tableContainer {
    width: 100%;
}

.table {
    width: calc(100% - 4px);
    border: none;
    padding: 0px 2px;
    table-layout: fixed;
}

thead.tableHeader {
    background-color: #fff;
    color: #999;
    font-weight: 100;
    text-transform: uppercase;
}

th.tableHead {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

tr.tableRow {
    border: none;
}

tr.tableRow:hover, tr.tableRow:focus {
    border-left: 5px solid rgb(97, 103, 215) !important;
}

td.tableData {
    word-wrap: break-word;
}

.active {
    border-left: 5px solid rgb(97, 103, 215) !important;
}
