.investments {
    font-size: 11px;
    color: rgb(70, 70, 70);
}

.investorName {
    font-size: 13px;
    font-weight: 600;
}

.identity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbnail {
    border-radius: 50%;
    margin-right: 10px;
}
